@keyframes startLoader {
    0% {
        transform: translateY(-50vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        transform: translateY(0);
    }

    12% {
        transform: translateY(-12px);
    }

    25% {
        transform: translateY(0);
    }
}

@keyframes rotatePizza {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes dispaire {
    95% {
        opacity: 1;
        z-index: 50;
    }

    100% {
        z-index: -50;
        opacity: 0;
    }
}

@keyframes heart {
    50% {
        color: black;
        font-weight: 100;
        font-size: 0;
        opacity: 0;
    }

    51% {
        @include textGradiant;
        font-weight: 900;
        font-size: 0;
    }

    100% {
        @include textGradiant;
        font-weight: 900;
        font-size: 24px;
        opacity: 1;
    }
}